Web References/CoursesWebServiceReference/CoursesWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetRoles">
        <s:complexType />
      </s:element>
      <s:element name="GetRolesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRolesResult" type="tns:ArrayOfRole" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRole">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Role">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Users" type="tns:ArrayOfUser" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Users2Courses" type="tns:ArrayOfUsers2Courses" />
          <s:element minOccurs="0" maxOccurs="1" name="Roles" type="tns:ArrayOfRole" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUsers2Courses">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Users2Courses" nillable="true" type="tns:Users2Courses" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Users2Courses">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id_user" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="id_course" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="status" type="s:unsignedByte" />
          <s:element minOccurs="0" maxOccurs="1" name="Course" type="tns:Course" />
          <s:element minOccurs="0" maxOccurs="1" name="User" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Course">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="specialization_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="study_year" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="semester" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="study_level" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="credits" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="course_hours" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="laboratory_hours" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="seminary_hours" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="project_hours" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="laboratory_tutors" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="seminary_tutors" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="project_tutors" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Specialization" type="tns:Specialization" />
          <s:element minOccurs="0" maxOccurs="1" name="Users2Courses" type="tns:ArrayOfUsers2Courses" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Specialization">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="domain_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Courses" type="tns:ArrayOfCourse" />
          <s:element minOccurs="0" maxOccurs="1" name="Domain" type="tns:Domain" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCourse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Course" nillable="true" type="tns:Course" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Domain">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="faculty_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Faculty" type="tns:Faculty" />
          <s:element minOccurs="0" maxOccurs="1" name="Specializations" type="tns:ArrayOfSpecialization" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Faculty">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="website" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="logo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Domains" type="tns:ArrayOfDomain" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDomain">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Domain" nillable="true" type="tns:Domain" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSpecialization">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Specialization" nillable="true" type="tns:Specialization" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRolesByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRolesByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRolesByNameResult" type="tns:ArrayOfRole" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRoleResult" type="tns:Role" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserRoles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserRolesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserRolesResult" type="tns:ArrayOfRole" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersWithRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersWithRoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersWithRoleResult" type="tns:ArrayOfUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserRoles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="roles" type="tns:ArrayOfRole" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserRolesResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="role" type="tns:Role" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRoleResponse">
        <s:complexType />
      </s:element>
      <s:element name="EditRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="role" type="tns:Role" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditRoleResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRoleResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetUsers">
        <s:complexType />
      </s:element>
      <s:element name="GetUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersResult" type="tns:ArrayOfUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersByNameResult" type="tns:ArrayOfUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserByEmailResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckLoginResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="EditUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCourses">
        <s:complexType />
      </s:element>
      <s:element name="GetCoursesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCoursesResult" type="tns:ArrayOfCourse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCourse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCourseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCourseResult" type="tns:Course" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCourseByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCourseByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCourseByNameResult" type="tns:ArrayOfCourse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCourse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="course" type="tns:Course" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCourseResponse">
        <s:complexType />
      </s:element>
      <s:element name="EditCourse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="course" type="tns:Course" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditCourseResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteCourse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCourseResponse">
        <s:complexType />
      </s:element>
      <s:element name="RedeemCourse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="courseId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RedeemCourseResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetCourseRedemptionStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="courseId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s:unsignedByte" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCourseRedemptionStatusResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetSpecializations">
        <s:complexType />
      </s:element>
      <s:element name="GetSpecializationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSpecializationsResult" type="tns:ArrayOfSpecialization" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSpecialization">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSpecializationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSpecializationResult" type="tns:Specialization" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSpecializationByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSpecializationByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSpecializationByNameResult" type="tns:ArrayOfSpecialization" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddSpecialization">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="specialization" type="tns:Specialization" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddSpecializationResponse">
        <s:complexType />
      </s:element>
      <s:element name="EditSpecialization">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="specialization" type="tns:Specialization" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditSpecializationResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteSpecialization">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSpecializationResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetDomains">
        <s:complexType />
      </s:element>
      <s:element name="GetDomainsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDomainsResult" type="tns:ArrayOfDomain" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDomainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDomainResult" type="tns:Domain" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDomainByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDomainByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDomainByNameResult" type="tns:ArrayOfDomain" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="tns:Domain" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDomainResponse">
        <s:complexType />
      </s:element>
      <s:element name="EditDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="tns:Domain" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditDomainResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDomainResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetFaculties">
        <s:complexType />
      </s:element>
      <s:element name="GetFacultiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFacultiesResult" type="tns:ArrayOfFaculty" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFaculty">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Faculty" nillable="true" type="tns:Faculty" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetFaculty">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFacultyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFacultyResult" type="tns:Faculty" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFacultyByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFacultyByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFacultyByNameResult" type="tns:ArrayOfFaculty" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFaculty">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="faculty" type="tns:Faculty" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFacultyResponse">
        <s:complexType />
      </s:element>
      <s:element name="EditFaculty">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="faculty" type="tns:Faculty" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditFacultyResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteFaculty">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFacultyResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRolesSoapIn">
    <wsdl:part name="parameters" element="tns:GetRoles" />
  </wsdl:message>
  <wsdl:message name="GetRolesSoapOut">
    <wsdl:part name="parameters" element="tns:GetRolesResponse" />
  </wsdl:message>
  <wsdl:message name="GetRolesByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetRolesByName" />
  </wsdl:message>
  <wsdl:message name="GetRolesByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetRolesByNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetRoleSoapIn">
    <wsdl:part name="parameters" element="tns:GetRole" />
  </wsdl:message>
  <wsdl:message name="GetRoleSoapOut">
    <wsdl:part name="parameters" element="tns:GetRoleResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserRolesSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserRoles" />
  </wsdl:message>
  <wsdl:message name="GetUserRolesSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserRolesResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersWithRoleSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsersWithRole" />
  </wsdl:message>
  <wsdl:message name="GetUsersWithRoleSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersWithRoleResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserRolesSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserRoles" />
  </wsdl:message>
  <wsdl:message name="UpdateUserRolesSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserRolesResponse" />
  </wsdl:message>
  <wsdl:message name="AddRoleSoapIn">
    <wsdl:part name="parameters" element="tns:AddRole" />
  </wsdl:message>
  <wsdl:message name="AddRoleSoapOut">
    <wsdl:part name="parameters" element="tns:AddRoleResponse" />
  </wsdl:message>
  <wsdl:message name="EditRoleSoapIn">
    <wsdl:part name="parameters" element="tns:EditRole" />
  </wsdl:message>
  <wsdl:message name="EditRoleSoapOut">
    <wsdl:part name="parameters" element="tns:EditRoleResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteRoleSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteRole" />
  </wsdl:message>
  <wsdl:message name="DeleteRoleSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteRoleResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="GetUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsersByName" />
  </wsdl:message>
  <wsdl:message name="GetUsersByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersByNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserByEmailSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserByEmail" />
  </wsdl:message>
  <wsdl:message name="GetUserByEmailSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="CheckLoginSoapIn">
    <wsdl:part name="parameters" element="tns:CheckLogin" />
  </wsdl:message>
  <wsdl:message name="CheckLoginSoapOut">
    <wsdl:part name="parameters" element="tns:CheckLoginResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="EditUserSoapIn">
    <wsdl:part name="parameters" element="tns:EditUser" />
  </wsdl:message>
  <wsdl:message name="EditUserSoapOut">
    <wsdl:part name="parameters" element="tns:EditUserResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetCoursesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCourses" />
  </wsdl:message>
  <wsdl:message name="GetCoursesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCourseSoapIn">
    <wsdl:part name="parameters" element="tns:GetCourse" />
  </wsdl:message>
  <wsdl:message name="GetCourseSoapOut">
    <wsdl:part name="parameters" element="tns:GetCourseResponse" />
  </wsdl:message>
  <wsdl:message name="GetCourseByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetCourseByName" />
  </wsdl:message>
  <wsdl:message name="GetCourseByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetCourseByNameResponse" />
  </wsdl:message>
  <wsdl:message name="AddCourseSoapIn">
    <wsdl:part name="parameters" element="tns:AddCourse" />
  </wsdl:message>
  <wsdl:message name="AddCourseSoapOut">
    <wsdl:part name="parameters" element="tns:AddCourseResponse" />
  </wsdl:message>
  <wsdl:message name="EditCourseSoapIn">
    <wsdl:part name="parameters" element="tns:EditCourse" />
  </wsdl:message>
  <wsdl:message name="EditCourseSoapOut">
    <wsdl:part name="parameters" element="tns:EditCourseResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCourseSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCourse" />
  </wsdl:message>
  <wsdl:message name="DeleteCourseSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCourseResponse" />
  </wsdl:message>
  <wsdl:message name="RedeemCourseSoapIn">
    <wsdl:part name="parameters" element="tns:RedeemCourse" />
  </wsdl:message>
  <wsdl:message name="RedeemCourseSoapOut">
    <wsdl:part name="parameters" element="tns:RedeemCourseResponse" />
  </wsdl:message>
  <wsdl:message name="SetCourseRedemptionStatusSoapIn">
    <wsdl:part name="parameters" element="tns:SetCourseRedemptionStatus" />
  </wsdl:message>
  <wsdl:message name="SetCourseRedemptionStatusSoapOut">
    <wsdl:part name="parameters" element="tns:SetCourseRedemptionStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetSpecializationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSpecializations" />
  </wsdl:message>
  <wsdl:message name="GetSpecializationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSpecializationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetSpecializationSoapIn">
    <wsdl:part name="parameters" element="tns:GetSpecialization" />
  </wsdl:message>
  <wsdl:message name="GetSpecializationSoapOut">
    <wsdl:part name="parameters" element="tns:GetSpecializationResponse" />
  </wsdl:message>
  <wsdl:message name="GetSpecializationByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetSpecializationByName" />
  </wsdl:message>
  <wsdl:message name="GetSpecializationByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetSpecializationByNameResponse" />
  </wsdl:message>
  <wsdl:message name="AddSpecializationSoapIn">
    <wsdl:part name="parameters" element="tns:AddSpecialization" />
  </wsdl:message>
  <wsdl:message name="AddSpecializationSoapOut">
    <wsdl:part name="parameters" element="tns:AddSpecializationResponse" />
  </wsdl:message>
  <wsdl:message name="EditSpecializationSoapIn">
    <wsdl:part name="parameters" element="tns:EditSpecialization" />
  </wsdl:message>
  <wsdl:message name="EditSpecializationSoapOut">
    <wsdl:part name="parameters" element="tns:EditSpecializationResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSpecializationSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSpecialization" />
  </wsdl:message>
  <wsdl:message name="DeleteSpecializationSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteSpecializationResponse" />
  </wsdl:message>
  <wsdl:message name="GetDomainsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDomains" />
  </wsdl:message>
  <wsdl:message name="GetDomainsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDomainsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDomainSoapIn">
    <wsdl:part name="parameters" element="tns:GetDomain" />
  </wsdl:message>
  <wsdl:message name="GetDomainSoapOut">
    <wsdl:part name="parameters" element="tns:GetDomainResponse" />
  </wsdl:message>
  <wsdl:message name="GetDomainByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetDomainByName" />
  </wsdl:message>
  <wsdl:message name="GetDomainByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetDomainByNameResponse" />
  </wsdl:message>
  <wsdl:message name="AddDomainSoapIn">
    <wsdl:part name="parameters" element="tns:AddDomain" />
  </wsdl:message>
  <wsdl:message name="AddDomainSoapOut">
    <wsdl:part name="parameters" element="tns:AddDomainResponse" />
  </wsdl:message>
  <wsdl:message name="EditDomainSoapIn">
    <wsdl:part name="parameters" element="tns:EditDomain" />
  </wsdl:message>
  <wsdl:message name="EditDomainSoapOut">
    <wsdl:part name="parameters" element="tns:EditDomainResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDomainSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteDomain" />
  </wsdl:message>
  <wsdl:message name="DeleteDomainSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDomainResponse" />
  </wsdl:message>
  <wsdl:message name="GetFacultiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetFaculties" />
  </wsdl:message>
  <wsdl:message name="GetFacultiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetFacultiesResponse" />
  </wsdl:message>
  <wsdl:message name="GetFacultySoapIn">
    <wsdl:part name="parameters" element="tns:GetFaculty" />
  </wsdl:message>
  <wsdl:message name="GetFacultySoapOut">
    <wsdl:part name="parameters" element="tns:GetFacultyResponse" />
  </wsdl:message>
  <wsdl:message name="GetFacultyByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetFacultyByName" />
  </wsdl:message>
  <wsdl:message name="GetFacultyByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetFacultyByNameResponse" />
  </wsdl:message>
  <wsdl:message name="AddFacultySoapIn">
    <wsdl:part name="parameters" element="tns:AddFaculty" />
  </wsdl:message>
  <wsdl:message name="AddFacultySoapOut">
    <wsdl:part name="parameters" element="tns:AddFacultyResponse" />
  </wsdl:message>
  <wsdl:message name="EditFacultySoapIn">
    <wsdl:part name="parameters" element="tns:EditFaculty" />
  </wsdl:message>
  <wsdl:message name="EditFacultySoapOut">
    <wsdl:part name="parameters" element="tns:EditFacultyResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFacultySoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFaculty" />
  </wsdl:message>
  <wsdl:message name="DeleteFacultySoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFacultyResponse" />
  </wsdl:message>
  <wsdl:portType name="CoursesWebServiceSoap">
    <wsdl:operation name="GetRoles">
      <wsdl:input message="tns:GetRolesSoapIn" />
      <wsdl:output message="tns:GetRolesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRolesByName">
      <wsdl:input message="tns:GetRolesByNameSoapIn" />
      <wsdl:output message="tns:GetRolesByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRole">
      <wsdl:input message="tns:GetRoleSoapIn" />
      <wsdl:output message="tns:GetRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRoles">
      <wsdl:input message="tns:GetUserRolesSoapIn" />
      <wsdl:output message="tns:GetUserRolesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersWithRole">
      <wsdl:input message="tns:GetUsersWithRoleSoapIn" />
      <wsdl:output message="tns:GetUsersWithRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserRoles">
      <wsdl:input message="tns:UpdateUserRolesSoapIn" />
      <wsdl:output message="tns:UpdateUserRolesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRole">
      <wsdl:input message="tns:AddRoleSoapIn" />
      <wsdl:output message="tns:AddRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditRole">
      <wsdl:input message="tns:EditRoleSoapIn" />
      <wsdl:output message="tns:EditRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <wsdl:input message="tns:DeleteRoleSoapIn" />
      <wsdl:output message="tns:DeleteRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input message="tns:GetUsersSoapIn" />
      <wsdl:output message="tns:GetUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input message="tns:GetUserSoapIn" />
      <wsdl:output message="tns:GetUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersByName">
      <wsdl:input message="tns:GetUsersByNameSoapIn" />
      <wsdl:output message="tns:GetUsersByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByEmail">
      <wsdl:input message="tns:GetUserByEmailSoapIn" />
      <wsdl:output message="tns:GetUserByEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckLogin">
      <wsdl:input message="tns:CheckLoginSoapIn" />
      <wsdl:output message="tns:CheckLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input message="tns:AddUserSoapIn" />
      <wsdl:output message="tns:AddUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <wsdl:input message="tns:EditUserSoapIn" />
      <wsdl:output message="tns:EditUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input message="tns:DeleteUserSoapIn" />
      <wsdl:output message="tns:DeleteUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCourses">
      <wsdl:input message="tns:GetCoursesSoapIn" />
      <wsdl:output message="tns:GetCoursesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCourse">
      <wsdl:input message="tns:GetCourseSoapIn" />
      <wsdl:output message="tns:GetCourseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCourseByName">
      <wsdl:input message="tns:GetCourseByNameSoapIn" />
      <wsdl:output message="tns:GetCourseByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCourse">
      <wsdl:input message="tns:AddCourseSoapIn" />
      <wsdl:output message="tns:AddCourseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditCourse">
      <wsdl:input message="tns:EditCourseSoapIn" />
      <wsdl:output message="tns:EditCourseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCourse">
      <wsdl:input message="tns:DeleteCourseSoapIn" />
      <wsdl:output message="tns:DeleteCourseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RedeemCourse">
      <wsdl:input message="tns:RedeemCourseSoapIn" />
      <wsdl:output message="tns:RedeemCourseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCourseRedemptionStatus">
      <wsdl:input message="tns:SetCourseRedemptionStatusSoapIn" />
      <wsdl:output message="tns:SetCourseRedemptionStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecializations">
      <wsdl:input message="tns:GetSpecializationsSoapIn" />
      <wsdl:output message="tns:GetSpecializationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecialization">
      <wsdl:input message="tns:GetSpecializationSoapIn" />
      <wsdl:output message="tns:GetSpecializationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecializationByName">
      <wsdl:input message="tns:GetSpecializationByNameSoapIn" />
      <wsdl:output message="tns:GetSpecializationByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddSpecialization">
      <wsdl:input message="tns:AddSpecializationSoapIn" />
      <wsdl:output message="tns:AddSpecializationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditSpecialization">
      <wsdl:input message="tns:EditSpecializationSoapIn" />
      <wsdl:output message="tns:EditSpecializationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSpecialization">
      <wsdl:input message="tns:DeleteSpecializationSoapIn" />
      <wsdl:output message="tns:DeleteSpecializationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDomains">
      <wsdl:input message="tns:GetDomainsSoapIn" />
      <wsdl:output message="tns:GetDomainsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDomain">
      <wsdl:input message="tns:GetDomainSoapIn" />
      <wsdl:output message="tns:GetDomainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDomainByName">
      <wsdl:input message="tns:GetDomainByNameSoapIn" />
      <wsdl:output message="tns:GetDomainByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDomain">
      <wsdl:input message="tns:AddDomainSoapIn" />
      <wsdl:output message="tns:AddDomainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditDomain">
      <wsdl:input message="tns:EditDomainSoapIn" />
      <wsdl:output message="tns:EditDomainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDomain">
      <wsdl:input message="tns:DeleteDomainSoapIn" />
      <wsdl:output message="tns:DeleteDomainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFaculties">
      <wsdl:input message="tns:GetFacultiesSoapIn" />
      <wsdl:output message="tns:GetFacultiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFaculty">
      <wsdl:input message="tns:GetFacultySoapIn" />
      <wsdl:output message="tns:GetFacultySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFacultyByName">
      <wsdl:input message="tns:GetFacultyByNameSoapIn" />
      <wsdl:output message="tns:GetFacultyByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFaculty">
      <wsdl:input message="tns:AddFacultySoapIn" />
      <wsdl:output message="tns:AddFacultySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditFaculty">
      <wsdl:input message="tns:EditFacultySoapIn" />
      <wsdl:output message="tns:EditFacultySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFaculty">
      <wsdl:input message="tns:DeleteFacultySoapIn" />
      <wsdl:output message="tns:DeleteFacultySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CoursesWebServiceSoap" type="tns:CoursesWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRoles">
      <soap:operation soapAction="http://tempuri.org/GetRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRolesByName">
      <soap:operation soapAction="http://tempuri.org/GetRolesByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRole">
      <soap:operation soapAction="http://tempuri.org/GetRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRoles">
      <soap:operation soapAction="http://tempuri.org/GetUserRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersWithRole">
      <soap:operation soapAction="http://tempuri.org/GetUsersWithRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserRoles">
      <soap:operation soapAction="http://tempuri.org/UpdateUserRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRole">
      <soap:operation soapAction="http://tempuri.org/AddRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditRole">
      <soap:operation soapAction="http://tempuri.org/EditRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <soap:operation soapAction="http://tempuri.org/DeleteRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersByName">
      <soap:operation soapAction="http://tempuri.org/GetUsersByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByEmail">
      <soap:operation soapAction="http://tempuri.org/GetUserByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLogin">
      <soap:operation soapAction="http://tempuri.org/CheckLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <soap:operation soapAction="http://tempuri.org/EditUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourses">
      <soap:operation soapAction="http://tempuri.org/GetCourses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourse">
      <soap:operation soapAction="http://tempuri.org/GetCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseByName">
      <soap:operation soapAction="http://tempuri.org/GetCourseByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCourse">
      <soap:operation soapAction="http://tempuri.org/AddCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCourse">
      <soap:operation soapAction="http://tempuri.org/EditCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCourse">
      <soap:operation soapAction="http://tempuri.org/DeleteCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedeemCourse">
      <soap:operation soapAction="http://tempuri.org/RedeemCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCourseRedemptionStatus">
      <soap:operation soapAction="http://tempuri.org/SetCourseRedemptionStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecializations">
      <soap:operation soapAction="http://tempuri.org/GetSpecializations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecialization">
      <soap:operation soapAction="http://tempuri.org/GetSpecialization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecializationByName">
      <soap:operation soapAction="http://tempuri.org/GetSpecializationByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSpecialization">
      <soap:operation soapAction="http://tempuri.org/AddSpecialization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditSpecialization">
      <soap:operation soapAction="http://tempuri.org/EditSpecialization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSpecialization">
      <soap:operation soapAction="http://tempuri.org/DeleteSpecialization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomains">
      <soap:operation soapAction="http://tempuri.org/GetDomains" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomain">
      <soap:operation soapAction="http://tempuri.org/GetDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainByName">
      <soap:operation soapAction="http://tempuri.org/GetDomainByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDomain">
      <soap:operation soapAction="http://tempuri.org/AddDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditDomain">
      <soap:operation soapAction="http://tempuri.org/EditDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDomain">
      <soap:operation soapAction="http://tempuri.org/DeleteDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFaculties">
      <soap:operation soapAction="http://tempuri.org/GetFaculties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFaculty">
      <soap:operation soapAction="http://tempuri.org/GetFaculty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacultyByName">
      <soap:operation soapAction="http://tempuri.org/GetFacultyByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFaculty">
      <soap:operation soapAction="http://tempuri.org/AddFaculty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditFaculty">
      <soap:operation soapAction="http://tempuri.org/EditFaculty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFaculty">
      <soap:operation soapAction="http://tempuri.org/DeleteFaculty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CoursesWebServiceSoap12" type="tns:CoursesWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRoles">
      <soap12:operation soapAction="http://tempuri.org/GetRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRolesByName">
      <soap12:operation soapAction="http://tempuri.org/GetRolesByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRole">
      <soap12:operation soapAction="http://tempuri.org/GetRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRoles">
      <soap12:operation soapAction="http://tempuri.org/GetUserRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersWithRole">
      <soap12:operation soapAction="http://tempuri.org/GetUsersWithRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserRoles">
      <soap12:operation soapAction="http://tempuri.org/UpdateUserRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRole">
      <soap12:operation soapAction="http://tempuri.org/AddRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditRole">
      <soap12:operation soapAction="http://tempuri.org/EditRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <soap12:operation soapAction="http://tempuri.org/DeleteRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap12:operation soapAction="http://tempuri.org/GetUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://tempuri.org/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersByName">
      <soap12:operation soapAction="http://tempuri.org/GetUsersByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByEmail">
      <soap12:operation soapAction="http://tempuri.org/GetUserByEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLogin">
      <soap12:operation soapAction="http://tempuri.org/CheckLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://tempuri.org/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <soap12:operation soapAction="http://tempuri.org/EditUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap12:operation soapAction="http://tempuri.org/DeleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourses">
      <soap12:operation soapAction="http://tempuri.org/GetCourses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourse">
      <soap12:operation soapAction="http://tempuri.org/GetCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseByName">
      <soap12:operation soapAction="http://tempuri.org/GetCourseByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCourse">
      <soap12:operation soapAction="http://tempuri.org/AddCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCourse">
      <soap12:operation soapAction="http://tempuri.org/EditCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCourse">
      <soap12:operation soapAction="http://tempuri.org/DeleteCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedeemCourse">
      <soap12:operation soapAction="http://tempuri.org/RedeemCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCourseRedemptionStatus">
      <soap12:operation soapAction="http://tempuri.org/SetCourseRedemptionStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecializations">
      <soap12:operation soapAction="http://tempuri.org/GetSpecializations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecialization">
      <soap12:operation soapAction="http://tempuri.org/GetSpecialization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecializationByName">
      <soap12:operation soapAction="http://tempuri.org/GetSpecializationByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSpecialization">
      <soap12:operation soapAction="http://tempuri.org/AddSpecialization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditSpecialization">
      <soap12:operation soapAction="http://tempuri.org/EditSpecialization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSpecialization">
      <soap12:operation soapAction="http://tempuri.org/DeleteSpecialization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomains">
      <soap12:operation soapAction="http://tempuri.org/GetDomains" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomain">
      <soap12:operation soapAction="http://tempuri.org/GetDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainByName">
      <soap12:operation soapAction="http://tempuri.org/GetDomainByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDomain">
      <soap12:operation soapAction="http://tempuri.org/AddDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditDomain">
      <soap12:operation soapAction="http://tempuri.org/EditDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDomain">
      <soap12:operation soapAction="http://tempuri.org/DeleteDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFaculties">
      <soap12:operation soapAction="http://tempuri.org/GetFaculties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFaculty">
      <soap12:operation soapAction="http://tempuri.org/GetFaculty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacultyByName">
      <soap12:operation soapAction="http://tempuri.org/GetFacultyByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFaculty">
      <soap12:operation soapAction="http://tempuri.org/AddFaculty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditFaculty">
      <soap12:operation soapAction="http://tempuri.org/EditFaculty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFaculty">
      <soap12:operation soapAction="http://tempuri.org/DeleteFaculty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CoursesWebService">
    <wsdl:port name="CoursesWebServiceSoap" binding="tns:CoursesWebServiceSoap">
      <soap:address location="https://localhost:44347/CoursesWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="CoursesWebServiceSoap12" binding="tns:CoursesWebServiceSoap12">
      <soap12:address location="https://localhost:44347/CoursesWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>